.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 350px;
    width: 600px;
    padding-bottom:30px;
    background: linear-gradient( #374C72, #524175);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}


.text{
    color: #ffffff;
    font-size:100 px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #ffffff;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forget-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #e2e2e2;
    font-size: 18px;
}

.forget-password text{
    color: #fff;
}


.forgot-password span{
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #ffffff;
    background: #6a47ac;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background:#766394;
    color:#fcfcfc;
}